<div class="row mt-4">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="container-fluid mx-auto">
      <h1>
        <%= (typeof inputData!='undefined' ? inputData.username : 'User is not defined') %>
      </h1>
      <div>Email:
        <em><%=inputData.email %></em>
      </div>
      <div>Role:
        <em><%=inputData.role %></em>
      </div>
      <div>First Name:
        <em><%=inputData.userId.firstName %></em>
      </div>
      <div>Last Name:
        <em><%=inputData.userId.lastName %></em>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>